.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.landing-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("test2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.landing-image {
  display: block;
  width: 100%;
  height: 100vh;
}
.overlay {
  font-family: calibri;
  position: absolute;
  top: 16vh;
  color: #f1f1f1;
  width: 100%;
  color: white;
  font-size: 200%;
  text-align: center;
}
.icon-bar {
  position: fixed;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px;
}

/* Style the icon bar links */
.icon-bar a {
  display: grid;
    text-align: center;
    padding: 14px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 24px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: black ;
}
.facebook{
  background: #3B5998;
}
.facebook:hover{
  color: #3B5998;
}

.github {
  background: #55ACEE;
  color: white;
}
.github:hover{
  color: green;
}
.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
.linkedin:hover{
  color: #007bb5;
}
.resume {
  background: #bb0000;
  color: white;
}
.resume:hover{
  color: white;
}